.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.boxed {
  width: 78%;
  position: relative;
  left: 20%;
}

.page-title {
  font-size: 20px;
  text-align: center;
  color: black;
}

hr {
  width: 8%;
  background-color: #005f6b;
  margin: 0 auto;
  font-weight: 208px;
  border-bottom: 3px solid;
}

.admin-office-card {
  border: 2px solid #f5f6fa;
  padding: 7px 40px;
  color: #f5f6fa;
  cursor: pointer;
  margin-top: -31px;
  background: #005f6b;
  margin-bottom: 11px;
}

.admin-office-card:hover {
  background: black;
}

textarea {
  border: 0.08rem solid #00000033;
  block-size: 5px;
  background-color: #fff;
  padding: 3px 5px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
}

input#evidence {
  border: 0.08rem solid #00000033;
  block-size: 5px;
  background-color: #fff;
  padding: 3px 5px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
}
